a:hover{
color: hotpink;
}

.classrequirement{
color: darkred;
font-family: Helvetica;
}

.vibzsunrise{
    padding: .5rem;
    margin: 30px;
    border: 20px ridge blue;
    background-color: green;
}

#idrequirement{
font-family: sans-serif;
color: #42e3f5
}

